body{
    height: 750px;
    background-image: url("../images/dark-paths.jpg");
  }

  
#img-front {
    margin-right: 15px;
}

#contact-body {
  height: 600px;
}


.media {
  border: 1px solid #dddddd;
  padding: 10px;
  padding-left: 30px;
  padding-top: 30px;
  background-color: white;
  height: 1400px;
  
}

.about-text {
  padding-right: 150px;
}


.footer {
  position: fixed;
   left: 0;
  bottom: 0;
  padding-top: 20px;
  width: 100%;
  background-color: rgb(95, 92, 92);
  color: white;
  text-align: center;
}


h4 {
  padding-top: 10px;
}

.about-text {
  padding-right: 30px;
}

.col-md-3 {
 margin-bottom: 15px;
}

@media screen and (max-width: 780px) {
  .media {
    margin-left: auto;
    height: 550px; 
  }

  img {
    height: auto;
    width: 250px;
  }

  .img-fluid {
    margin: 2px;
  }

  #primary-body {
    height: 2800px;
  }

  #img-front {
    height: auto;
    width: 150px;
  }

}


@media screen and (max-width: 550px) {
  .media {
    margin-left: auto; 
  }

  img {
    height: auto;
    width: 225px;
  }

  .img-fluid {
    margin: 2px;
  }

  #primary-body {
    height: 2800px;
  }
  
  .about-text {
    padding-right: 25px;
  }
}



@media screen and (max-width: 375px) {
  .media {
    margin-left: auto; 
  }

  h3, .about-text {
    clear: both;
  }


  img {
    height: auto;
    width: 200px;
  }

  .img-fluid {
    margin: 2px;
    margin-right: 10px;
  }

  #primary-body {
    height: 3000px;
  }

  .about-text {
    padding-right: 20px;
  }

  #img-front {
    height: auto;
    width: 200px;
    margin-bottom: 10px;
  }

}
